[submodule "rezzemay-backend"]
	path = rezzemay-backend
	url = https://github.com/htcicek/rezzemay-backend
[submodule "rezzemay-frontend"]
	path = rezzemay-frontend
	url = https://github.com/htcicek/rezzemay-frontend
